.add-container {
    display: flex;
    height: calc(100vh - 254px);
    padding-top: 20px;
    flex-direction: column;
    padding-left: 15px;
}

.add-content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid rgb(229, 153, 0);
    width: 70%;
    height: 1000%;
    background-color: rgb(0, 0, 0);
}

.add-title {
    padding-left: 15px;
    color: seashell;
}

.add-content-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-btn {
    margin-left: 10px;
    background-color: rgb(211, 141, 7);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
    margin-top: 40px;
}

.add-cord-content {
    display: flex;
    align-items: center;
    margin-left: 400px;
    background-color: rgb(90, 81, 64);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    padding-left: 5px;
    color: #FFF;
}


.add-btn-save {
    margin-left: 10px;
    background-color: rgb(211, 141, 7);
    border-radius: 10px;
    height: 40px;
    width: 15%;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 40px;
    margin-top: 10px;
}