.locations-container {
    display: flex;
    height: calc(130vh - 254px);
    padding-top: 20px;
    flex-direction: column;
    padding-left: 15px;
}

.locations-content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid rgb(229, 153, 0);
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow:hidden;
}

.locations-title {
    padding-left: 15px;
    color: seashell;
}

.locations-titles {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 80px;
    justify-content: space-between;
}


.locations-titles h4 {
    color: #fff;
    font-weight: bold;
}

.locations-line {
    border: 1px solid rgb(229, 153, 0);
}

.locations-map {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    background-color: #444;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: -100px;
    overflow:hidden;
}

.locations-map p {
    color: #FFF;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 2px;
}

.locations-details-user {
    display: flex;
    background-color: lawngreen;
}

  .leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 0;
  }
  
  .location-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
  }

